.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--app-spacer);
  margin: var(--app-spacer);

  > section {
    padding: var(--app-spacer);
    background: #efefef;
  }
}

.main {
  grid-row-start: 1;
  grid-row-end: 6;
}
